/* @import url("compass/css3"); */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: 'Alfa Slab One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
/* font-family: 'Odibee Sans', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

html {
    scroll-behavior: smooth;
  }

  html.sr .load-hidden {
    visibility: hidden;
}

body{
    margin:0;
    padding: 0;
}
body::-webkit-scrollbar { width: 0 !important }

h3 {
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Odibee Sans', cursive;
    font-weight: 400;
}

/* COLOORS {
    #52DEE5 = dark turquoise 
    #92DCE5 = middle blue
    #7C7C7C = grey web 
    #EEE5E9 =  lavender blush
    #383D3B =  black olive
} */
.container-fluid {
    margin: 0;
    padding: 0;
}

.landing-block {
    height: 100vh;
    background-image: url('image/glacier-home.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.big-title-landing {
    text-align: center;
    /* position: relative;
    z-index: 1; */
}
.big-title-landing > h1 {
    font-size: 5em;
    font-family: 'Odibee Sans', cursive;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding-left: 0.3em;
}
.title-landing {
    display:flex;
    justify-content: center;
    width: 50%;
}
.title-landing > h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    /* font-weight: 900; */
    text-align: center;
    color:#EEE5E9;
    height: auto;
    text-transform: uppercase;

}
.btn-scroll {
    width: 25px;
    border: 2px solid #383D3B;
    border-radius: 12px;
    height: 7%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.btn-scroll > .box-btn {
    width: 50%;
    height: 25%;
    background-image: url('image/down-arrow.png');
    background-size: cover;
    background-position: center;
}

/* BTN BURGER NAV  */
.nav-togle{
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: fixed;
    top: 2%;
}
.menu {
    cursor: pointer;
    /* margin: 0 auto; */
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 2%;
  }
  .menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 5px solid #383D3B;
    width: 100%;
    transition: 0.30s;
  }
  .menu-top {
    top: 0;
  }
  .menu-middle {
    top: 15px;
  }
  .menu-bottom {
    top: 30px;
  }
  .menu-top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.45s 0.4s;
  }
  .menu-middle-click {
    opacity: 0;
  }
  .menu-bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.45s 0.4s;  }

.navbar{
    width:6%;
    height: 100vh;
    left:0;
    top:0;
    position:fixed;
    /* background-color: transparent; */
    border-right: 1px solid #383D3B;    
    /* background-color:#EEE5E9; */
    background-color:rgba(238, 229, 233, 0.5);
    /* background-color:rgba(56, 61, 59, 0.7); */
    display:flex;
    flex-direction: column;
    padding:0;
    transform: translateX(-100%);
    transition: transform 0.2s;
    z-index: 100;
}

.showNav {
    transform: translateX(0);
}

.nav-item {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-item > .item {
    cursor: pointer;
    text-decoration: none;
    color: #383D3B;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    width: 100%;
}
.nav-item > .item:hover{
    border-right:8px solid #52DEE5;
}

.nav-item > .item > svg  {
    width: 30% !important;
    fill:#383D3B;
    cursor: pointer;
}
.logo-nav {
    background-image: url('image/logo.svg');
    background-size: auto;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
}
/* BLOCK CONTENT 1  */

.content-block-1 {
    height: 100vh; 
    /* background: radial-gradient(circle, rgba(193,248,255,1) 18%, rgba(196,235,255,1) 84%); */
    background-image: url('image/fukurian-blue.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
 }

 .content-block-1 > .row {
     height: 100%;
     justify-content: space-evenly;
     align-items: center;
     margin:0;
 }
 .content-block-1 > .row > div{
     height: 80%;
 }
 /* .content-block-1 > .row > .left-block {
     background-color:#FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     border-top-left-radius: 4%;
     border-bottom-left-radius: 4%;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 } */
 .content-block-1 > .row > .left-block {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 4%; */
    /* border-bottom-left-radius: 4%; */
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    height: 65%;
    border-radius: 50%;
    width: 80%;
 }
 
 .content-block-1 > .row > .left-block > .block-1-image {
    background-image: url(image/me-nobg.png);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    }
    .content-block-1 > .row > .right-block {
        background-color:#FFFFFF;
        border-top-right-radius: 4%;
        border-bottom-right-radius: 4%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
        height: 75%;
        padding:15px 15px;
    }

    .intro-right-block {
        height: 40%;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: space-around;
        text-align: start;
    }

    .intro-right-block > h1::after{
        content:'';
        background:url('image/minimize_black_24dp.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        width: 40px;
        height: 100%;
    }

    .reveal-title-about {
        letter-spacing: 0.2em;
    }

    .reveal-title-icons{
        font-size:18px;
    }
.passions-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
 .passions-block > div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .passions-block > div > svg {
     width: 55%;
     margin-top: 15%;
     fill: #92DCE5;
     border-radius: 50%;
     border:1px solid transparent;
     transition: transform .1s ease;
     padding:5px 5px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 .passions-block > div > svg:hover {
    transform:scale(1.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

 }

 .main-passions {
     height: 50%;
     display: flex;
     justify-content: space-around;
     align-items: baseline;
     flex-direction: column;

 }

 .main-passions > h1::after {
    content:'';
    background:url('image/minimize_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 100%;
 }


 

/* BLOCK CONTENT 2  */

.content-block-2 {
    height: 100vh;
    background-color:green;
}
.content-block-3 {
    height: 100vh;
    background-color:yellow;
}


/* BACK TO TOP BTN  */

.back-top{
    background-color: transparent;
    position: fixed;
    right: 2%;
    top: 90vh;
    z-index: 2;
    display: flex;
    border: 2px solid #383D3B;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 5%;
    outline: none !important;
}

.back-top > svg {
    fill:#383D3B;
 transition: 0.8s;
}


.back-top > svg:hover {
    fill:#EEE5E9;
}